# Data Downloading
gdown

# Data Handling
pandas
NumPy
os
subprocess

# Natural Language Processing- classical method
nltk
spacy
re
string

# Machine Learning & Deep Learning using tensorflow and pytorch 
tensorflow
torch
transformers
dataclasses
typing
logging
argparse
sklearn



