# Data Downloading
gdown

# Data Handling
pandas
numpy

# Natural Language Processing- classical method
nltk
spacy
re
string

# Machine Learning & Deep Learning using tensorflow and pytorch 
tensorflow
torch
transformers
torch


